@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
}

:root {
    --color-success: #40AA68;
    --color-success-hover: #3B9B5F;
    --color-danger: #CA4F4F;
    --color-danger-hover: #A74242;
    --color-orange: #FF6F2C;
    --color-orange-hover: #FF5100;
    --color-dark: #2A2A2A;
    --color-light: #CFCFCF;
    --color-primary: #4B8CCA;
    --color-primary-hover: #3B6D9C;
    --color-pruple: #645BCF;
    --color-purple-hover: #5148B3;
    --color-semi-light: #BDBDBD;
}

.special-form {
    width: 30%;
    margin: 25px auto;
}

.special-object-5 {
    width: 50%;
    margin: 15px auto;
}

.special-object-3 {
    width: 30%;
    margin: 15px auto;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.boxer {
    position: absolute;
    width: 100%;
    height: 100%;
}

.boxer-child {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 980px) {
    .special-form {
        width: 90%;
    }

    .special-object-5 {
        width: 90%;
    }

    .special-object-3 {
        width: 90%;
    }

    .flex-row {
        flex-direction: column;
        flex-wrap: wrap;
    }
}