@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Open Sans", sans-serif;
    word-wrap: break-word;
}

:root {
    --color-success: #40AA68;
    --color-success-hover: #3B9B5F;
    --color-danger: #CA4F4F;
    --color-danger-hover: #A74242;
    --color-orange: #FF6F2C;
    --color-orange-hover: #FF5100;
    --color-dark: #2A2A2A;
    --color-light: #CFCFCF;
    --color-primary: #4B8CCA;
    --color-primary-hover: #3B6D9C;
    --color-pruple: #645BCF;
    --color-purple-hover: #5148B3;
}

/* BACKGROUNDS */
.bg-dark {
    background-color: var(--color-dark);
}

.bg-orange {
    background-color: var(--color-orange);
}

/* IMAGES */
.img-dinamic:hover {
    filter: blur(5px);
    transition: 0.5s;
}

/* TEXT COLOR */
.text-light, .text-light a {
    color: var(--color-light);
}

.text-orange, .text-orange a{
    color: var(--color-orange);
}

.text-black, .text-black a {
    color: black;
}

/* TEXT ALIGNEMENT */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* CONTENT ALIGNEMENT */
.j-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

/* NAVBAR */
.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .logo {
    padding: 10px 25px;
}

.navbar .logo img {
    width: 70px;
}


.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    padding: 15px;
}

.navbar ul li a {
    text-decoration: none;
}

/* TARGETS */

.tg {
    padding: 10px;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tg-danger {
    background: var(--color-danger);
    border: 2px solid var(--color-danger-hover);
    border-radius: 10px;
}

.tg-success {
    background: var(--color-success);
    border: 2px solid var(--color-success-hover);
    border-radius: 10px;
}

/* Bordered */

.bordered-dark {
    border: 1px solid var(--color-dark);
    border-radius: 5px;
}

/* Links */
.link-warning {
    color: var(--color-orange);
}

/* Buttons */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: var(--color-light);
    cursor: pointer;
}

.btn-success {
    background-color: var(--color-success);
    color: var(--color-light);
}

.btn-success:hover {
    background-color: var(--color-success-hover);
}

.btn-danger {
    background-color: var(--color-danger);
    color: var(--color-light);
}

.btn-danger:hover {
    background-color: var(--color-danger-hover);
}

/* FORMS */
.form {
    width: 100%;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    width: 90%;
    border-radius: 5px;
    border: none;
    border: 1px solid var(--color-dark);
    outline: none;
    padding: 10px;
    margin: 5px 0;
}

.focus-orange:focus, .focus-orange .form-control:focus {
    border: 1px solid var(--color-orange);
}

.form-btn {
    width: 70%;
}

.form-title {
    width: 40%;
    text-align: center;
    padding: 25px 0;
}

/* Collapse */
.collapse {
    position: absolute;
    top: -400px;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.collapse li {
    padding: 15px 0;
}

.collapse-visible {
    display: none;
}

.collapse-visible li {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    list-style: none;
}

.collapse-visible li a {
    text-decoration: none;
}

.navbar .btn-collapse {
    display: none;
}

/* ROWS AND COLUMNS */
.container {
    display: flex;
    width: 90%;
    margin: 15px auto;
    padding: 5px;
    flex-direction: column;
}

.row {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* PADDING LEVEL */

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

/* IMAGES */

.image {
    position: relative;
}


/* TABLES */

table {
    margin: 0 auto;
    width: 100%;
}

table th {
    padding: 10px;
    word-wrap: break-word;
}

table td {
    padding: 10px;
    word-wrap: break-word;
}

table img {
    width: 200px;
}


/* WIDTHS */
.w-7 {
    width: 70%;
}

.w-6 {
    width: 60%
}

.w-5 {
    width: 50%;
}

.w-4 {
    width: 40%;
}

.w-3 {
    width: 30%;
}

.w-2 {
    width: 20%;
}

.w-1 {
    width: 10%;
}

@media screen and (max-width: 800px) {
    .collapse-visible {
        position: relative;
        top: 0;
        width: 100%;
        background-color: var(--color-orange);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }

    .collapse-visible li:hover{
        background-color: var(--color-orange-hover);
    }

    .navbar .to-hide {
        display: none;
    }

    .navbar .btn-collapse {
        display: flex;
    }

    .row {
        flex-wrap: wrap;
    }
}