@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: "Roboto Mono", monospace;
}

:root {
    --color-success: #40AA68;
    --color-success-hover: #3B9B5F;
    --color-danger: #CA4F4F;
    --color-danger-hover: #A74242;
    --color-orange: #FF6F2C;
    --color-orange-hover: #FF5100;
    --color-dark: #2A2A2A;
    --color-light: #CFCFCF;
    --color-primary: #4B8CCA;
    --color-primary-hover: #3B6D9C;
    --color-pruple: #645BCF;
    --color-purple-hover: #5148B3;
}

/* BACKGROUNDS */
.bg-dark {
    background-color: var(--color-dark);
}

.bg-orange {
    background-color: var(--color-orange);
}

/* TEXT COLOR */
.text-light, .text-light a {
    color: var(--color-light);
}

.text-orange {
    color: var(--color-orange);
}

.text-black {
    color: black;
}

/* NAVBAR */
.navbar {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>ul {
    display: flex;
    flex-direction: row;
}

.navbar>ul>li {
    list-style: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar>ul>li>a {
    text-decoration: none;
}